.indexcard-container {
  margin-top: 100px;
  margin-left: 5%;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
  min-height: 400px;
  flex-direction: row;
}