.index-card {
  width: 25%;
  height: 460px;
  background: linear-gradient(to right, #403f49, #000000);
  border-radius: 15px;
}

.show-details-btn {
  position: relative;
  bottom: 20px;
}

.content {
  margin: 30px;
  position: relative;
}

.info{
  height: 390px;
}

.btn-container {
  height: 50px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
