.development-process-container {
  margin-top: 150px;
  height: 500px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dp-content {
  width: 800px;
  height: 600px;
}

.upper-content {
  display: flex;
  align-items: center;
}

.lower-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.process-btn {
  height: 100px;
  width: 150px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 300;
  font-size: 18px;
  background: -webkit-linear-gradient(225deg, rgb(132, 0, 255) 0%, rgb(230, 0, 255) 100%);
  box-shadow: rgb(31, 38, 52) 20px 20px 60px, rgb(31, 38, 52) -20px -20px 60px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  transition: opacity 0.25s;
  
}

.process-btn:hover {
  opacity: 0.6;
}

.img-container {
  position: relative;
  
}

.right-arrow-icon {
  transform: rotate(90deg);
  top: 0;
  right: 0;
  width: 170px;
  margin-left: 3px;
  
}

.left-arrow-icon {
  transform: rotate(270deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
}

.left-arrow-icon-lower {
  transform: rotate(270deg);
  top: 0;
  right: 0;
  width: 170px;
}

.aslant-arrow-icon-lower {
  transform: rotate(315deg);
  width: 170px;
  margin-left: 160px;
}

.up-arrow-icon-lower {

  top: 0;
  right: 0;
  width: 170px;
  margin-left: 300px;
}

.down-arrow-icon-lower {

  transform: rotate(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  margin-left: 300px;
}

.mid-arrows {
  display: flex;
  align-items: center;
}