.process-view-container {
  height: 700px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 200px;
  
}

.process-text {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.shortcut-overview {
  
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 70px;
}