.title-process {
  text-decoration: underline;
  font-size: 40px;
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.process-text {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
}

.shortcut-overview {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 70px;
}

.section-header {
  font-size: 20px;
  margin-left: 150px;
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.process-menu-btns {
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.bu-container{
  height: 1200px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;

}

.du-container {
  height: 920px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;
}

.dp-container {
  height: 950px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;
}

.modeling-container{
  height: 870px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;
}

.evaluation-container{
  height: 820px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;
}

.deployment-container{
  height: 830px;
  width: 100%;
  padding-top: 100px;
  z-index: 1;
  margin-bottom: 300px;
}