
.tool-button {
  height: 60px;
  width: 120px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(31, 38, 52);
  font-weight: 400;
  font-size: 12px;
  background: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}


